<%- include('partials/header.ejs') %>
<div class="content-container">
    <div>
        <img src="assets/banner.png" alt="banner" class="banner-img">
    </div>
    
    <div class="content">
        <h2>
            On Sale
        </h2>
        <div class="items-list">
            <ul>
                <li>
                    <img src="assets/product1.png" alt="" class="product-img">
                    <p class="title">Hydrating skin tint</p>
                    <p class="discription">Ayurvedic BB cream | Lightweight</p>
                    <p class="amt">MRP:650 RS</p>
                    <button class="btn">
                        ADD TO CART
                    </button>
                </li>
                <li>
                    <img src="assets/product2.png" alt="" class="product-img">
                    <p class="title">Hydrating skin tint</p>
                    <p class="discription">Ayurvedic BB cream | Lightweight</p>
                    <p class="amt">MRP:650 RS</p>
                    <button class="btn">
                        ADD TO CART
                    </button>
                </li>
                <li>
                    <img src="assets/product1.png" alt="" class="product-img">
                    <p class="title">Hydrating skin tint</p>
                    <p class="discription">Ayurvedic BB cream | Lightweight</p>
                    <p class="amt">MRP:650 RS</p>
                    <button class="btn">
                        ADD TO CART
                    </button>
                </li>
                <li>
                    <img src="assets/product2.png" alt="" class="product-img">
                    <p class="title">Hydrating skin tint</p>
                    <p class="discription">Ayurvedic BB cream | Lightweight</p>
                    <p class="amt">MRP:650 RS</p>
                    <button class="btn">
                        ADD TO CART
                    </button>
                </li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
              </ul>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>
</div>
