<%- include('partials/header.ejs') %>
    <div class="content-container">

        <div class="content">
            <h2>
                Your Space
            </h2>
            <% if (locals.select==='add' ) { %>
                <div class="box">
                    <h3 class="sub-heading">
                        Add Product
                    </h3>
                    <div class="form-container">
                        <form action="add" method="post" enctype="multipart/form-data" >
                            <div class="form-field">
                                <label for="title" style="margin-right: 68px;">Title</label>
                                <span>
                                    <input type="text" name="title">
                                </span>

                            </div>

                            <div class="form-field">
                                <label for="title" style="margin-right: 12px;">Discription</label>
                                <span>
                                    <input type="text" name="discription">
                                </span>

                            </div>

                            <div class="form-field">
                                <label for="amount" style="margin-right: 36px;">Amount</label>
                                <span>
                                    <input type="number" min="0.00" max="10000.00" step="0.01" name="amount">
                                </span>

                            </div>

                            <div class="form-field">
                                <label for="amount" style="margin-right: 48px;
                            ">Image</label>
                                <span>
                                  
                                    <input type="file" name="image" accept="image/*" id="uploadImage" >
                                    <!-- <img class="img" id="avatar" name="img" /> -->
                                </span>

                            </div>

                            <button type="submit" class="btn">ADD </button>

                        </form>
                    </div>

                </div>
                <% } else if (locals.select==='edit' ) { %>
                    <div class="box" style="max-width: 90%;">
                        <h3 class="sub-heading">
                            Edit Product
                        </h3>
                        <div class="form-container">
                            <div class="items-list">
                                <ul>
                                    <li>
                                        <img src="assets/product1.png" alt="" class="product-img">
                                        <p class="title">Hydrating skin tint</p>
                                        <p class="discription">Ayurvedic BB cream | Lightweight</p>
                                        <p class="amt">MRP:650 RS</p>
                                        <button class="btn">
                                            EDIT
                                        </button>
                                    </li>
                                    <li>
                                        <img src="assets/product2.png" alt="" class="product-img">
                                        <p class="title">Hydrating skin tint</p>
                                        <p class="discription">Ayurvedic BB cream | Lightweight</p>
                                        <p class="amt">MRP:650 RS</p>
                                        <button class="btn">
                                            EDIT
                                        </button>
                                    </li>
                                    <li>
                                        <img src="assets/product1.png" alt="" class="product-img">
                                        <p class="title">Hydrating skin tint</p>
                                        <p class="discription">Ayurvedic BB cream | Lightweight</p>
                                        <p class="amt">MRP:650 RS</p>
                                        <button class="btn">
                                            EDIT
                                        </button>
                                    </li>
                                    <li>
                                        <img src="assets/product2.png" alt="" class="product-img">
                                        <p class="title">Hydrating skin tint</p>
                                        <p class="discription">Ayurvedic BB cream | Lightweight</p>
                                        <p class="amt">MRP:650 RS</p>
                                        <button class="btn">
                                            EDIT
                                        </button>
                                    </li>
                                    <li>4</li>
                                    <li>5</li>
                                    <li>6</li>
                                </ul>
                            </div>
                        </div>
                        <% } %>

                    </div>
                    <%- include('partials/footer.ejs') %>
        </div>

        <script>
            var base64;
            const uploadImage = document.getElementById("uploadImage")
            const avatar = document.getElementById("avatar");

            // upload file - convert to base64

            const convertBase64 = (file) => {
                return new Promise((resolve, reject) => {
                    const fileReader = new FileReader();
                    fileReader.readAsDataURL(file);

                    fileReader.onload = () => {
                        resolve(fileReader.result);
                    };

                    fileReader.onerror = (error) => {
                        reject(error);
                    };
                });
            };

            const uploadImage1 = async (event) => {
                const file = event.target.files[0];
                base64 = await convertBase64(file);
                
                uploadImage.innerHTML =base64
                avatar.src = base64;
                // textArea.innerText = base64;
            };

            // uploadImage.addEventListener("change", (e) => {
            //     uploadImage1(e);
            // });
        </script>