<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Online Store</title>
</head>

<body>
    <div class="header-holder">
        <div class="header_container">

            <div class="title">
                <img src="/assets/logo.png" alt="logo" class="logo">
            </div>
            <div class="header_container">
                <i class="fa fa-shopping-cart" id="cart-icon"></i>
            </div>
        </div>
        <div class="navigation_bar">
            <a href="/onlineStore">Online Store</a>
            <a  href="/products?name=add">Add Products</a>
            <a  href="/products?name=edit">Edit Products</a>
        </div>
    </div>


</body>
<script>
    function handler(params) {
        console.log("==>",params);
        

    }
</script>
</html>